/* General Element CSS
   ------------------- */
   
body
{
	
}

.glitch-body 
{
	position:absolute;
	
	background-color:#cdc8b0;
	background-image: url("/images/bg_glitch.gif");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	background-size: cover;
	
	width:100%;
	height:100%;
	top:0;
	left:0;
}

.default-style-button
{
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	
	background-color:#b4af9a;
	color:#635f54;
	border:none;
	
	height:3vw;
	font-size:2vw;
	cursor:pointer;
	font-family: 'VT323', monospace;
	text-align:center;
}

.default-style-button:focus, .default-style-button:active
{
	outline:none;
	border:1px solid #9a9784;
	cursor:pointer;
}

.default-style-button:hover
{
	color:#dad4bb;
	background-color:#635f54;
	cursor:pointer;
}

.default-style-button[disabled]:hover
{
	color:#dad4bb;
	background-color:#9a9784;
	outline:none;
	border:none;
	cursor:no-drop;
}

.default-style-button[disabled]
{
	color:#dad4bb;
	background-color:#b4af9a;
	outline:none;
	border:none;
	cursor:no-drop;
}

.error-container
{
	background-color:#DAD4BB;
	position:absolute;
	padding-top:4.5vw;
	padding-bottom:1.5vw;
	box-shadow:0.7vw 0.7vw #9a9784;
	text-align:center;
	font-family: 'VT323', monospace;
	width:30vw;
	height:24vw;
	
	top:10vw;
	left:35vw;
}

.error-header
{
	position:absolute;
	width:100%;
	height:3vw;
	left:0px;
	top:0px;
	font-size:2vw;
	color:#dad4bb;
	background-color:#635f54;
	padding-left:1.5vw;
	text-align:left;
}

.return-button-container
{
	position: absolute;
	right: 0;
	top: 0;
	height: 3vw;
}

.error-message
{
	font-size:2vw;
	text-align:left;
	margin-left:1.5vw;
	color:#635f54;
}