/* General CSS
   ----------- */
body {
	background-color: #141311;
}

.font {
	font-family: 'VT323', monospace;
}

/* Header CSS
   ---------- */
ul#header {
	overflow: hidden;
	height: 5.3vw;
	width:100%;
    margin-bottom: 1.5vw;
    background-color: #cdc8b0;
    border-bottom: 0.1vw dashed #635f54;
    position: fixed;
	top:0;
	left:0;
	z-index:1;
}

li.header {
	float: right;
	list-style-type: none;
	margin-top: 1vw;
	margin-right: 1.5vw;
	width: 13vw;
	height: 3vw;
	background-color: #b4af9a;
	color: #635f54;
	position:relative;
}

li.header a {
	font-size: 2vw;
	padding: 0;
	padding-left:3vw;
	color: #635f54;
	display:block;
	text-align: left;
	text-decoration: none;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

div.link-flourish
{
	width:1vw;
	height:1vw;
	position:absolute;
	top:1vw;
	left:1vw;
	background-color:#635f54;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

div.header-flourish
{
	width:100%;
	height:4.8vw;
	position:absolute;
	left:0;
	top:0;
	border-bottom:0.2vw solid #635f54;
	z-index:-1;
}

li.header:hover a {
	background-color: #635f54;
	color:#dad4bb;
	height:3.8vw;
}

li.header:hover div.link-flourish
{
	background-color: #dad4bb;
}

#logout {
	cursor: pointer;
}

.headerGeneralFontSize {
	font-size: 1.7em;
}

/* General Element CSS
   -------------------- */
.whiteFont {
	color: #FFFFFF;
}

.brownFont {
	color: #A2482E;
}

.boldText {
	font-weight: bold;
}

.centerText {
	text-align: center;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.indexGeneralFontSize {
	font-size: 1.7em;	
}

/* Image CSS
   --------- */
.smoothImage {
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;					/* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

/* Border CSS
   ---------- */
.border-normal {
	border: 15px solid transparent;
	border-image: url("/images/border.png") 16 repeat;
	background-color:rgba(0, 0, 0, 0.4);
}

.border-bronze-trimmed {
	border: 10px solid transparent;
	border-image: url("/images/border2.png") 16 repeat;
	background-color:rgba(0, 0, 0, 0.4);
}

.border-gold-trimmed {
	border: 10px solid transparent;
	border-image: url("/images/border_plain.png") 16 repeat;
}

/* Button CSS
   ---------- */
.btn {
	background-color: #A2482E;
	border-radius:0;
	color: #FFFFFF;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open > .dropdown-toggle.btn {
	background-color: #893C25;
	color: #FFFFFF;
}

.btnFontSize {
	font-size: 1.5em;
}